@import 'colores';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    background-color: contenidoPrincipal;
}


.container{
    background-color: $colorSecundario ;
    margin: 0 10px;
    .navbar{
        width: 90%;
        margin: auto;
        padding: 0px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            width: 130px;
            cursor: pointer;
            background-color: $colorSecundario;
        }
        ul{
            li{
                list-style: none;
                display: inline-block;
                margin: 0 20px;
                position: relative;
                a{
                    text-decoration: none;
                    color: white;
                    font-family: 'Pacifico', cursive;
                    font-size: 1.2rem;
                }
            }
        }
    }
}



 .navbar ul li:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: white;
    transform-origin: right;
    transform: scaleX(0);
    transition: tranform 0.2s ease-in-out;
}   

.navbar ul li:hover:after{
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.2s ease-in-out;
}

/*--------------------Contenido Principal------------*/
.contenidoPrincipal{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    img{
        width: 50%;
    }
    p{
        text-align: center;
    }
}

/*-----------------------footer--------------------*/
.pieDePagina{
    display: flex;
    justify-content: space-between;
    background-color: $colorSecundario;
    margin: 0 10px;
    min-height: 100px;
    font-family: 'Pacifico', cursive;
    align-items: center;
    .logo{
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            img{
                height: 100px;
                margin-right: 5px;
            }
            h2{
                color: white;
            }
        }
        
    }
    a{
        img{
            height: 80px;
            padding-right: 20px;
        }
    }
}

@media (max-width:730px){
    .navbar{
        flex-direction: column;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    .pieDePagina {
        flex-direction: column;
    }
}

@media (max-width:350px){
    .pieDePagina{

        a{
            img{
                height: auto;
                width: 60px;
            }
        }
    }
}

/*---------------------Galeria---------------------*/

.grid-container{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    .grid-item{
        margin: 10px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}

@media (max-width:730px){
    .grid-container{
        grid-template-columns: repeat(1, 100%);   
    }
}

